name: Build

on:
  push:
  pull_request:
  release:
    types:
      - published

env:
  CIBW_ARCHS_MACOS: x86_64 arm64
  CIBW_ARCHS_LINUX: x86_64
  CIBW_BEFORE_ALL_LINUX: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --default-toolchain=stable --profile=minimal -y
  CIBW_ENVIRONMENT_LINUX: 'PATH="$HOME/.cargo/bin:$PATH"'
  CIBW_SKIP: cp36-* cp37-* cp38-* pp* *i686 *win32

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      wheelhouse_path: wheelhouse-${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup target add aarch64-apple-darwin x86_64-apple-darwin
        if: startsWith(matrix.os, 'macos')
      - uses: pypa/cibuildwheel@v2.18.1
      - run: echo "wheelhouse_path=$(echo '${{ matrix.os }}' | awk '{split($0,input,"-"); print input[1]}')" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ env.wheelhouse_path }}
          path: ./wheelhouse/
  test_library:
    name: Test library on ${{ matrix.os }} with Python ${{ matrix.python }} and numpy ${{ matrix.numpy }}
    runs-on: ${{ matrix.os }}
    needs: [build_wheels]
    strategy:
      matrix:
        numpy: ["1.26.4", "2"]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest, windows-latest, macos-13, macos-latest]
    env:
      wheelhouse_path: wheelhouse-${{ matrix.os }}
    steps:
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
    - uses: actions/checkout@v4
    - run: echo "wheelhouse_path=$(echo '${{ matrix.os }}' | awk '{split($0,input,"-"); print input[1]}')" >> $GITHUB_ENV
    - uses: actions/download-artifact@v4
      with:
        name: ${{ env.wheelhouse_path }}
        path: ./wheelhouse/
    - run: python -m pip install toml
    - run: python -m pip install numpy==${{ matrix.numpy }}
    - run: python .github/workflows/install_dependencies.py
    - run: python -m pip install --no-index --find-links wheelhouse faery
    - run: python -m pytest tests/
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*.tar.gz
  upload_pypi:
    name: Upload wheels and sidst to PyPI
    runs-on: ubuntu-latest
    needs: [build_wheels, test_library, build_sdist]
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: wheelhouse
          pattern: wheelhouse-*
          merge-multiple: true
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - run: mv wheelhouse/* dist/
      - uses: pypa/gh-action-pypi-publish@v1.8.14
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
